body {
    background-color: #fff;
    font-family: 'Roboto', 'sans-serif';
    margin: auto;
    width: 100%;
    
}



/* here I am creating a Sticky navbar */
.sticky{
    width: 100%;
    position: fixed;
    left:0;
    top:0;
    z-index: 100;
}
.sticky + .container{
    padding: 60px;
}


/* top menu*/
.topBarContainer{

    width: 100%;
    height: 155px;
    background-color: #393a3b;
    border:none;
    box-shadow:  10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.topBar {
    width: 100%;
    height: 30px;
    margin: 0;
}
.topBarMenu{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 84%;
    height: 30px;
    text-shadow:   3px 3px 3px 0.5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.topBarContainer hr{
    border: 0.5px solid #b7b7bc;
    margin: 0 8% 0 8%;
    box-shadow:  1px 1px 10px 0.5px #b7b7bc;
}
.tbmBtn {
    width: 60px;
    height: 15px;
    margin: 7.5px 0px 7.5px 10px;
    font-size: 15px; 
    float: right;
    border-right: 1px solid #b7b7bc;
}
.tbmBtn:first-child{
        border-right: none;
}
.tbmBtn a{
    text-decoration: none;
    color: #899195;
}
.tbmBtn a:hover {
    color: #f4913a;
}



/* middle menu */
.middleBar {
    width: 100%;
    height: 90px;
    margin: 0;
}
.middleBarMenu {
    margin-left: auto;
    margin-right: auto;
    width: 84%;
    height: 90px;
}

/* starting from left => logo*/
.mbmLogo {
    width: 20%;
    margin:0;
    height: 90px;
    float: left;
    padding-left: 2px 4px;
}
.mbmLogo a{
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    margin-top:5px;
    color: #fed716;
    text-decoration: none;
    text-align: center;
}
.mbmLogo:hover{
    font-size: 26px ;
    cursor: pointer;
}

/* search bar*/
.searchContainer{
    margin: 29.5px 0px 29.5px 20px;
    padding: 0;

}
#navSearch{
    width: 350px;
    height: 28px;
    margin:0;
    float: left;
    font-size: 14px;
    font-weight: 200;
    padding: 8px 0 4px 10px;
    border: none;
    border-radius:2px 0 0 2px;

    
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#navSearch:focus{
      width: 90%;
}
.searchBtn{
    width: 40px;
    height: 40px;
    margin: 0;
    float: left;
    border: none;
    background-color: #fed716;
    border-radius: 0 2px 2px 0;
    padding: 0;
}
.searchBtn:hover{
    cursor: pointer;
    background-color: #f4eb42;
}
.icon-search{
    margin: 0 0 0 0 ;
    text-align: center;
    font-size: 26px;
    color: #fff;
}
.icon-search:hover{
    font-size: 28px;
}
.mbmSearch {
    width: 50%;
    margin:0;
    height: 90px;
    float:left;
    box-shadow:  3px 3px 10px 1px rgba(0, 0, 0, 0.2);
}
/* midle menu add-recipe */
.mbmAddRecipe {
    width: 15%;
    margin:0;
    height: 90px;
    float:left;
}
.mbmAddRecipe p{
    font-size:10px;
    font-weight:400;
    color:white;
    text-shadow:3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    margin-top:0;
}
.navRC {
    max-width: 50%;
    height: 65%;
    margin: 20px 15px 15px 40px;
    text-align: center;
    font-size: 35px;
    background-color: #fed716;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-weight: 400;
}
.navRC p {
    margin-top: 2px;
}
.navRC:hover{
    cursor: pointer;
    background-color: #f4eb42 ;
}
.navRC:hover .icon-food{
    font-size: 39px;
}
.icon-food {
    color: #fff;
    margin:0;
}


/*adding user */
.mbmUser{
    width: 15%;
    margin:0;
    height: 90px;
    float: left;
}
.mbmUser p{
    font-size:10px;
    font-weight:400;
    color:white;
    text-shadow:3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    margin-top:0;
    margin-bottom: 2px;
}
.navUser {
    max-width: 50%;
    height: 65%;
    margin: 20px 15px 0px 10px;
    text-align: center;
    font-size: 35px;
    background-color: #fed716;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-weight: 400;
    position: relative;
}
.navUser:hover{
    background-color: #f4eb42 ;
    cursor: pointer;
}
.navUser:hover .icon-user-o{
    font-size: 39px;
}
.icon-user-o{
    color: #fff;
    margin:0;   
}


/* also user dropdown content*/
.dropdown-content {
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    display: none;
    position: absolute;
    width: 100%;
    margin-top:5px;
    margin: auto;
    background-color: #f9f9f9;
    left: 0;
    text-shadow: 0.5px 0.5px 0.2px 0.2px #000;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.navUser:hover .dropdown-content-user{
    display: block;
}
.navUser > p:hover .dropdown-content-user{
    display: block;
}
.dropdown-content-user {
    display: none;
    position: absolute;
    width: auto;
    height:auto;
    margin-top:0px;
    background-color: #f9f9f9;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -moz-animation: ease-in-out 800ms;
    border-radius: 5px 5px 5px 5px;
}
.columnUser{
    float: left;
    width: 140px;
    padding: 5px;
    background-color: #f9f9f9;
    height: 120px;

}
.columnUser a:hover{
    background-color: #f1f1f1;
    color: #282a2a;
}
.columnUser button:hover{
    box-shadow: 1px 1px 2px 1px #000;
    font-size: 20px;
}
.drpUser {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    min-height: 70%;
    overflow: auto;
    box-shadow: 0px 4px 8px 0px rgb(0, 0, 0, 0.2);
    z-index: 1;
}
.drpUser a{
    color: #000;
    padding: 3px 5px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}
.drpUser a:hover{
    background-color: #ddd;
    color : #000;
}


/* creating a lower bar menu*/
.lowerBar{
    width: 100%;
    height: 34px;
    margin: 0;
}
.lowerBarMenu{
    width: 110px;
    height: 34px;
    margin: 0 auto 0 auto;
    border: none;
}
.lbmBtn {
    width: 110px;
    height: 25px;
    padding-top: 6px;
    margin-top: 0;
    font-size: 16px; 
    float: left;
    overflow: hidden;
    text-align: center;
    border: none;
    box-shadow:  0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.lbmBtn:hover a{
    cursor: pointer;
    color: #fdc605 ;
}
.lbmBtn a {
    text-align: center;
    text-decoration: none;
    color: #899195;
}
.recipesNavTop {
    font-size: inherit;
    border: none;
    outline: none;
    color: #fff;
    font: inherit;
    margin: 0;
}
.lbmBtn:hover .dropdown-content{
    display: block;
}
.column{
    float: left;
    width: 19%;
    padding: 5px;
    background-color: #fbfbfb;
    height: 390px;
}
.column a{
    float: none;
    color: #393a3b;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.column a:hover{
    background-color: #ddd;
    color: #282a2a;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}


/* for small devices*/
@media screen and (max-width: 600px){
    .column{
        width: 100%;
        height: auto;
    }
    .columnUser{
        width: 100%;
        height: auto;
    }
}
/* others*/
#container hr {
    border: #3d3d3d;
    box-shadow: 0.5px 0.25px 0.25px 0.2px #3d3d3d;
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom:50px;
}
.show{display: block;}










